
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

section {
  width: 100%;
  height: 100vh;
}

section nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section nav .logo img {
  width: 120px;
  margin: 20px 0;
  cursor: pointer;
  /* position: relative;
  left: -45%; */
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 10px;
}

section nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

section nav ul li a.action {
  color: #facc22;
}

section nav ul li a:hover {
  color: #facc22;
}

section nav .login a {
  text-decoration: none;
  color: black;
  border: 2px solid #facc22;
  padding: 7px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

section nav .login a:hover {
  background: #facc22;
  color: whitesmoke;
  font-size: 20px;
}

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 80px;
}

.main .main-text h1 {
  font-size: 75px;
  color: black;
  position: relative;
  left: 5%;
  top: -25px;
}

.main .main-text h1 span {
  color: #facc22;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;

}

.main .main-text p {
  color: black;
  width: 650px;
  position: relative;
  left: 5%;
  top: 10px
  text-align: justify;
  line-height: 23px;
}

.main .main-text .btn {
  text-decoration: none;
  color: black;
  border: 2px solid #facc22;
  padding: 10px 20px;
  position: relative;
  left: 5%;
  top: 60px;
  transition: 0.5s;
}

.main .main-text .btn:hover {
  color: white;
}

.main .main-text .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #facc22;
  z-index: -1;
  transition: 0.4s;
}

.main .main-text .btn:hover::before {
  width: 100%;
  bottom: 0;
  top: unset;
}

.main .main-image img {
  width: 650px;
  animation: animate 5s linear infinite;
}
/* About Section */
.about {
  width: 100%;
  height: 100vh;
  padding: 10px 0 0 0;
  background-image: url(image/about_bg.jpg);
  background-size: cover;
  background-position: center;
}

.about .about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.about .about-main .about-image img {
  width: 750px;
}

.about .about-main .about-text  h1 {
  font-size: 45;
  font-weight: 900;
  position: relative;
  bottom: 40px;
}

.about .about-main .about-text h1 span {
  color: #facc22;
  font-weight: 900;

  margin-right: 15px;
}

.about .about-main .about-text h3 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  bottom: 10px;
}

.about .about-main .about-text p {
  width: 650px;
  text-align: justify;
  line-height: 23px;
  margin-top: 20px;
}

.about .about_services {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about .about_services .s_1 {
  display: flex;
  align-items: center;
  width: 180px;
  background: #ececec;
  padding: 10px;
  border: 2px solid #facc22;
  cursor: pointer;
}

.about .about_services .s_1 i {
  font-size: 20px;
  color: black;
  margin: 5px 10px 5px 5px;
  transition: 0.3s;
}

.about .about_services .s_1 i:hover {
  color: #facc22;
}

.about .about_services .s_1 a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.about .about_btn i {
  font-size: 15px;
  margin-right: 8px;
}

.about .about_btn {
  position: relative;
  top: 35px;
  padding: 10px 20px;
  border: 2px solid #facc22;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.about .about_btn:hover {
  color: white;
}

.about .about_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #facc22;
  z-index: -1;
  transition: 0.5s;
}

.about .about_btn:hover::before {
  width: 100%;
  bottom: 0;
  top: unset;
}

/* Menu Section */
.menu {
  width: 100%;
  height: 100vh;
  padding: 75px 0;
}

.menu h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 900;
  color:black;
}

.menu h1 span {
  color: #facc22;
  font-weight: 300;
  margin-left: 15px;
}

.menu .menu-box {
  width: 95%;
  margin: 45px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 10px;
}

.menu .menu-box .menu-card .menu-img {
  margin: 0 auto;
  width: 420px;
  height: 300px;
  margin-bottom: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.menu .menu-box .menu-card .menu-img img {
  width: 420px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.menu .menu-box .menu-card {
  background-image: url(image/menu_card_bg.png); 
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 575px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.menu .menu-text h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.menu .menu-text p {
  line-height: 21px;
  margin-bottom: 15px;
  margin: 0 auto;
  width: 400px;
}

.menu .menu-text .menu-icon {
  color: #facc22;
  margin: 8px 0;
}

.menu .menu-text .price {
  font-size: 20px;
  font-weight: bold;

}

.menu .menu-text  .menu_btn {
  text-decoration: none;
  color: black;
  border: 2px solid #facc22;
  padding: 10px 20px;
  position: relative;
  top: 30px;
  transition: 0.5s;
}

.menu .menu-text  .menu_btn:hover {
  color: white;
}

.menu .menu-text  .menu_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #facc22;
  z-index: -1;
  transition: 0.5s;
}

.menu .menu-text  .menu_btn:hover::before {
  width: 100%;
  bottom: 0;
  top: unset;
}

.menu .menu-text  .menu_btn i {
  margin-right: 8px;
}



























@keyframes animate {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}




